.col2{
    width: 50%;
    background-color: pink;
    margin: 1% 0;
    float: left;
    padding:  1%;
    box-sizing: border-box;
}

.col3{
    width: 33.3%;
    background-color: pink;
    margin: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

.col5{
    width: 20%;
    background-color: pink;
    margin-top: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

nav ul{
    margin: auto;
    width: 450px;
    background-color: cyan;
    padding: 0;
}

nav ul li{
    text-align: center;
    width: 33.33%;
    background-color: lightpink;
    padding: 10px 0;
    float: left;
    list-style: none;
}

nav ul li:hover{
    background-color: #E44DFE;
}

nav ul li a{
    text-decoration: none;
    color:  darkblue;
}