.container h1{
    color: red;
}

.container h2{
    color: green;
}

.container p{
    color:blue;
}

span p:first-child{
    color:red;
}

span p:last-child{
    color:blue;
}

span p:nth-child(4){
    color: green;
}

.pink:hover{
    color: pink;
}