.col2{
    width: 50%;
    background-color: pink;
    margin: 1% 0;
    float: left;
    padding:  1%;
    box-sizing: border-box;
}

.col3{
    width: 33.3%;
    background-color: pink;
    margin: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

.col5{
    width: 20%;
    background-color: pink;
    margin-top: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}