.container h1{
    color: red;
}

.container h2{
    color: green;
}

.container p{
    color:blue;
}

span p:first-child{
    color:red;
}

span p:last-child{
    color:blue;
}

span p:nth-child(4){
    color: green;
}

.pink:hover{
    color: pink;
}

#box{
    width: 800px;
    background-color: cyan;
}

.inline,.block{
    color: white;
    margin: 10px;
    padding: 10px;
    background-color: purple;
    border: 3px solid green;
}

.block{
    background-color: red;
}
