  /*Reglas para pantallas menores a 768px*/
  
  /*Clase para el contenedor global*/
  .container{
    width: 100%;
    margin: auto; /*forza a centrado horizontal en la ventana*/
   }
    /*Observa que usamos medidas dinámicas*/
    section{ 
        background: #F9F5C9;
        margin: 1% 0;
        padding: 1% 0;
    }
    
    /*Clase usamos para interrupir la flotación*/
    .clear{ clear: both;}

.col2{
    width: 100%;
    background-color: pink;
    margin: 1% 0;
    float: left;
    padding:  1%;
    box-sizing: border-box;
}

.col3{
    width: 100%;
    background-color: pink;
    margin: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

.col5{
    width: 100%;
    background-color: pink;
    margin-top: 1% 0;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

nav ul{
    margin: auto;
    width: 100%;
    background-color: cyan;
    padding: 0;
}

nav ul li{
    text-align: center;
    width: 33.33%;
    background-color: lightpink;
    padding: 10px 0;
    float: left;
    list-style: none;
}

nav ul li:hover{
    background-color: #E44DFE;
}

nav ul li a{
    text-decoration: none;
    color:  darkblue;
}


/*Reglas para pantallas mayores a 768px*/
 @media screen and (min-width: 768px){
    .container{
        width: 80%;
    }

    .col2{
        width: 50%;
    }
    .col3{
        width: 33.3%;
    }
    .col5{
        width: 20%;
    }
    nav ul li{
        width: 33.33%;
    }

 }
